Source: ros-jazzy-rko-lio
Section: misc
Priority: optional
Maintainer: Meher Malladi <rm.meher97@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libtbb-dev, nlohmann-json3-dev, ros-jazzy-ament-cmake, ros-jazzy-geometry-msgs, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-storage, ros-jazzy-sensor-msgs, ros-jazzy-sophus, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-tf2-ros, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rko-lio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libtbb-dev, nlohmann-json3-dev, ros-jazzy-geometry-msgs, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-storage, ros-jazzy-sensor-msgs, ros-jazzy-sophus, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-tf2-ros, ros-jazzy-ros-workspace
Description: A Robust Approach for LiDAR-Inertial Odometry Without Sensor-Specific Modelling
