Source: ros-humble-rko-lio
Section: misc
Priority: optional
Maintainer: Meher Malladi <rm.meher97@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libtbb-dev, nlohmann-json3-dev, ros-humble-ament-cmake, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosbag2-cpp, ros-humble-rosbag2-storage, ros-humble-sensor-msgs, ros-humble-sophus, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-rko-lio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libtbb-dev, nlohmann-json3-dev, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosbag2-cpp, ros-humble-rosbag2-storage, ros-humble-sensor-msgs, ros-humble-sophus, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-ros-workspace
Description: A Robust Approach for LiDAR-Inertial Odometry Without Sensor-Specific Modelling
